.searchBox {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #217822;
}

.input {
  position: relative;
  display: flex;
  align-items: center;
  margin: 5px 0;
}
