label {
  display: block;
  text-align: start;
  font-weight: 500;
  color: #212878;
}

.inputContainer {
  margin-bottom: 10px;
  position: relative;
}

.inputWrapper {
  position: relative;
  display: flex;
  align-items: center;
  margin: 5px 0;
}

.inputWrapper .icon {
  position: absolute;
  left: 20px;
  color: #484c7e;
  font-size: 1rem;
  transition: color 0.25s ease;
}

input[type="text"] {
  flex-grow: 1;
  padding: 10px 10px 10px 40px;
  border: 1px solid #ddd;
  border-radius: 5px;
  transition: border-color 0.25s ease;
}

input[type="text"]:focus {
  outline: none;
  border-color: #4a90e2;
}

input[type="email"] {
  flex-grow: 1;
  padding: 10px 10px 10px 40px;
  border: 1px solid #ddd;
  border-radius: 5px;
  transition: border-color 0.25s ease;
}

input[type="email"]:focus {
  outline: none;
  border-color: #4a90e2;
}

input[type="password"] {
  flex-grow: 1;
  padding: 10px 10px 10px 40px;
  border: 1px solid #ddd;
  border-radius: 5px;
  transition: border-color 0.25s ease;
}

input[type="password"]:focus {
  outline: none;
  border-color: #4a90e2;
}

.error {
  color: #e74c3c;
  font-size: 12px;
  margin-top: 5px;
}

.button {
  margin-top: 10px;
  width: 200px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: linear-gradient(45deg, #1b9109, #59bc0c);
  color: white;
  font-weight: bold;
  transition: transform 0.25s ease, background 0.25s ease;
}

.button:hover {
  background: linear-gradient(45deg, #3f9525, #32a310);
  transform: scale(1.05);
}
