label {
  display: block;
  text-align: start;
  font-weight: 500;
  color: #21784f;
}

.formContainer {
  margin-bottom: 10px;
  position: relative;
}

.input[type="text"] {
  flex-grow: 1;
  padding: 10px 10px 10px 40px;
  border: 1px solid #ddd;
  border-radius: 5px;
  transition: border-color 0.25s ease;
}

input[type="text"]:focus {
  outline: none;
  border-color: #4a90e2;
}

.error {
  color: #e74c3c;
  font-size: 12px;
  margin-top: 5px;
}

.button {
  margin-top: 10px;
  width: 200px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: linear-gradient(45deg, #6ab688, #2f4919);
  color: white;
}

.btnForm:hover {
  background: linear-gradient(45deg, #7db730, #b2cc5c);
}
